.persons-wrapper {
    margin-top: 100px;
    padding: 6px;
    accordion {
        margin: 0 auto;
        width: 100%;
        position: relative;
        i.close {
            position: absolute;
            top: -15px;
            right: -5px;
            z-index: 1;
        }
        accordion-group {
            margin-bottom: 10px;
        }
    }
    .btn-add-task {
        margin-bottom: 15px;
    }
    .task-title,
    .edit-task-title {
        padding: 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
    .button-group {
        margin-bottom: 10px;
    }
    .task-wrapper {
        position: relative;
    }
    .btn-edit {
        float: right;
    }
}