<div class="persons-wrapper">
  <div class="row">
    <p>
      <button type="button" class="btn btn-primary btn-sm" (click)="addPerson()">Add Person</button>
    </p>

    <accordion [closeOthers]="true">
      <accordion-group [isOpen]="personIndex === (activePersonIndex$ | async) && person.title" *ngFor="let person of persons$ | async; let personIndex = index"
        [isDisabled]="!person.title">
        <div *ngIf="!person.title" accordion-heading>
          <i (click)="removePerson(personIndex)" class="close">x</i>
          <input type="text" class="form-control" placeholder="Person name" [value]="person.title" #newValue (keydown.enter)="savePerson(newValue.value, personIndex)">
        </div>
        <div accordion-heading>
          <button *ngIf="person.title" class="btn btn-link">{{person.title}}</button>
          <button *ngIf="person.title" (click)="person.title = ''" class="btn btn-link btn-edit">edit</button>
        </div>
        <div *ngIf="person.title">
          <i (click)="removePerson(personIndex)" class="close">x</i>
          <div class="button-group">
            <button type="button" class="btn btn-primary btn-sm" (click)="addTask(template, personIndex)">Add Task</button>
          </div>
          <div class="task-wrapper" *ngFor="let task of person.tasks; let taskIndex = index">
            <i (click)="removeTask(taskIndex, personIndex)" class="close">x</i>
            <p (click)="openModal(template, task, personIndex)" class="task-title">{{task.title}}</p>
          </div>
        </div>
      </accordion-group>
    </accordion>

    <ng-template #template>
      <div class="modal-header">
        <h3>Task Editor</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
          <div class="form-group">
            <input type="hidden" formControlName="id" />
            <label class="label-control" for="title">Title</label>
            <input class="form-control" name="title" placeholder="title" formControlName="title" />
          </div>
          <div class="form-group">
            <label class="label-control" for="description">Description</label>
            <input class="form-control" name="description" placeholder="description" formControlName="description" />
          </div>
          <div class="form-group">
            <label for="estimate">Estimate</label>
            <input type="text" placeholder="estimate" class="form-control" name="estimate" #dp="bsDatepicker"
              formControlName="estimate" bsDatepicker [bsValue]="estimate || ''" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
          </div>
          <div class="form-group">
            <label class="label-control" for="priority">Priority</label>
            <select class="form-control" name="priority" formControlName="priority">
              <option *ngFor="let c of priorities;" [value]="c.value">
                {{ c.title }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="label-control" for="state">State</label>
            <select class="form-control" name="state" formControlName="state">
              <option *ngFor="let c of states" [value]="c.value">
                {{ c.title }}
              </option>
            </select>
          </div>
          <div class="button-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a (click)="modalRef.hide()" class="btn btn-default">Cancel</a>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>